      <ons-page id="help">


        <ons-toolbar>
          <div class="left">
            <ons-toolbar-button onclick="fn.open()">
              <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
          </div>
          <div class="center">
            About
          </div>



        </ons-toolbar>

        <div class="background" style="background-color: white"></div>
        <ons-row style="padding: 1em; ">
          <ons-col width="100%">
            <ons-list style="text-align: center; text-align: justify;">
              <ons-list-header>Overview</ons-list-header>
              <ons-list-item  >
                <div style="text-align: center; width: 100%;height: 100%"><img src="img/home.jpg" style="height: 250px; width: auto;"><br>
                  <span style="font-size: 18px; font-weight: 500; opacity: 0.8">1. You have to pick a parking space displayed in you app</span></div>
              </ons-list-item>

              <ons-list-item  >
                <div style="text-align: center; width: 100%;height: 100%"><img src="img/view.jpg" style="height: 250px; width: auto;"><br>
                  <span style="font-size: 18px; font-weight: 500; opacity: 0.8">2. After clicking it a pop up will appear and from that click 'view'</span></div>
              </ons-list-item>

              <ons-list-item  >
                <div style="text-align: center; width: 100%;height: 100%"><img src="img/profile-park.jpg" style="height: 250px; width: auto;"><br>
                  <span style="font-size: 18px; font-weight: 500; opacity: 0.8">3. You are now in the parking space profile where you will see the Parking space title, Address and other valuable informations</span></div>
              </ons-list-item>

              <ons-list-item  >
                <div style="text-align: center; width: 100%;height: 100%"><img src="img/profile-park.jpg" style="height: 250px; width: auto;"><br>
                  <span style="font-size: 18px; font-weight: 500; opacity: 0.8">4. If youre settled and satisfied in the parking space you viewed just simply click the 'NAVIGATE' button and the app will help you reach you destination</span></div>
              </ons-list-item>



            </ons-list>
          </ons-col>


        </ons-row>





      </ons-page>

