      <ons-page id="history">
        <ons-toolbar>
          <div class="center">
            History
          </div>
          <div class="left">
            <ons-toolbar-button onclick="fn.open()">
              <ons-icon icon="md-menu"></ons-icon>
            </ons-toolbar-button>
          </div>
        </ons-toolbar>
        <ons-row>
          <ons-col>
            <ons-list-header style="background-color: transparent;">Recently Visited</ons-list-header>
            <ons-list-item style="background-color: white" tappable modifier="chevron" onclick="myNavigator.pushPage('templates/visited.html')">
              <div class="left">
                <img class="list-item__thumbnail" src="img/sm.jpg">
              </div>
              <div class="center">
                <span class="list-item__title">Sm Olongapo</span>
                <span class="list-item__subtitle">4-C Apitong Ext Old Cabalan</span>
              </div>
              <div class="right" style="margin-top: 0">9:00AM</div>
            </ons-list-item>

            <ons-list-item style="background-color: white" tappable modifier="chevron">
              <div class="left">
                <img class="list-item__thumbnail" src="img/ayala.jpg">
              </div>
              <div class="center">
                <span class="list-item__title">Ayala Malls Subic</span>
                <span class="list-item__subtitle">4-C Apitong Ext Old Cabalan</span>
              </div>
              <div class="right" style="margin-top: 0">10:30PM</div>
            </ons-list-item>           
          </ons-col>
        </ons-row>

        <ons-row>
          <ons-col>
            <ons-list-header style="background-color: transparent;">Yesterday</ons-list-header>
            <ons-list-item style="background-color: white" tappable modifier="chevron" onclick="myNavigator.pushPage('templates/visited.html')">
              <div class="left">
                <img class="list-item__thumbnail" src="img/sm.jpg">
              </div>
              <div class="center">
                <span class="list-item__title">Sm Olongapo</span>
                <span class="list-item__subtitle">4-C Apitong Ext Old Cabalan</span>
              </div>
              <div class="right" style="margin-top: 0">9:00AM</div>
            </ons-list-item>

            <ons-list-item style="background-color: white" tappable modifier="chevron">
              <div class="left">
                <img class="list-item__thumbnail" src="img/ayala.jpg">
              </div>
              <div class="center">
                <span class="list-item__title">Ayala Malls Subic</span>
                <span class="list-item__subtitle">4-C Apitong Ext Old Cabalan</span>
              </div>
              <div class="right" style="margin-top: 0">10:30PM</div>
            </ons-list-item>           
          </ons-col>
        </ons-row>

        <ons-row>
          <ons-col>
            <ons-list-header style="background-color: transparent;">All Time</ons-list-header>
            <ons-list-item style="background-color: white" tappable modifier="chevron" onclick="myNavigator.pushPage('templates/visited.html')">
              <div class="left">
                <img class="list-item__thumbnail" src="img/sm.jpg">
              </div>
              <div class="center">
                <span class="list-item__title">Sm Olongapo</span>
                <span class="list-item__subtitle">4-C Apitong Ext Old Cabalan</span>
              </div>
              <div class="right" style="margin-top: 0">9:00AM</div>
            </ons-list-item>

            <ons-list-item style="background-color: white" tappable modifier="chevron">
              <div class="left">
                <img class="list-item__thumbnail" src="img/ayala.jpg">
              </div>
              <div class="center">
                <span class="list-item__title">Ayala Malls Subic</span>
                <span class="list-item__subtitle">4-C Apitong Ext Old Cabalan</span>
              </div>
              <div class="right" style="margin-top: 0">10:30PM</div>
            </ons-list-item>
            <ons-list-item style="background-color: white" tappable modifier="chevron">
              <div class="left">
                <img class="list-item__thumbnail" src="img/ayala.jpg">
              </div>
              <div class="center">
                <span class="list-item__title">Ayala Malls Subic</span>
                <span class="list-item__subtitle">4-C Apitong Ext Old Cabalan</span>
              </div>
              <div class="right" style="margin-top: 0">10:30PM</div>
            </ons-list-item>  
            <ons-list-item style="background-color: white" tappable modifier="chevron">
              <div class="left">
                <img class="list-item__thumbnail" src="img/ayala.jpg">
              </div>
              <div class="center">
                <span class="list-item__title">Ayala Malls Subic</span>
                <span class="list-item__subtitle">4-C Apitong Ext Old Cabalan</span>
              </div>
              <div class="right" style="margin-top: 0">10:30PM</div>
            </ons-list-item>  
            <ons-list-item style="background-color: white" tappable modifier="chevron">
              <div class="left">
                <img class="list-item__thumbnail" src="img/ayala.jpg">
              </div>
              <div class="center">
                <span class="list-item__title">Ayala Malls Subic</span>
                <span class="list-item__subtitle">4-C Apitong Ext Old Cabalan</span>
              </div>
              <div class="right" style="margin-top: 0">10:30PM</div>
            </ons-list-item>  
            <ons-list-item style="background-color: white" tappable modifier="chevron">
              <div class="left">
                <img class="list-item__thumbnail" src="img/ayala.jpg">
              </div>
              <div class="center">
                <span class="list-item__title">Ayala Malls Subic</span>
                <span class="list-item__subtitle">4-C Apitong Ext Old Cabalan</span>
              </div>
              <div class="right" style="margin-top: 0">10:30PM</div>
            </ons-list-item>             
          </ons-col>
        </ons-row>
      </ons-page>