      <ons-page id="login">
        <style type="text/css">
          .text-input--material__label--active {
            color: #2979FF;
          }

          .text-input--material:focus {
            color: white;
          }
          .text-input.text-input--material{
            color: white !important;
          }
        </style>

        <ons-toolbar modifier="noshadow" style="background-color: #454A58 !important">
          <div class="left" >
            <ons-back-button >Back</ons-back-button>
          </div>
          <div class="center">
            Log In
          </div>
        </ons-toolbar>

        <div class="background" style="background-color: #454A58"></div>
        <ons-row style=" margin-top: 8%; color: white !important">
          <ons-col width="100%">
            <p style="color: white; font-size: 35px; font-weight: 700; padding-left: 5%;">Log In</p>
          </ons-col>


          
          <ons-col width="100%" style="text-align: center; margin-top: 20%; color: white !important;">
            <i class="fa fa-user" style="padding-right: 2%"></i> <ons-input placeholder="Username" float id="username"></ons-input><br><br><br>
            <i class="fa fa-lock" style="padding-right: 2%"></i> <ons-input placeholder="Password" float type="password" id="password"></ons-input><br><br>
            <ons-button  style="width: 40%; border-radius: 20px;" onclick="login()">Log in</ons-button>
            

          </ons-col>

        </ons-row>

        <script type="text/javascript">
          function login() {
            var username = document.getElementById("username").value;
            var password = document.getElementById("password").value;
            console.log("login");
            $.post("https://www.gcccsbsit.xyz/_gpark/_api/select/s_loginUser2.php",{username:username, password:password},function(data){
              console.log(data);
              if (data.length == 0) {
                alert("Error: Username and/or Password");
                console.log(data);
              }

              if(data[0].U_Type == 0){

                localStorage.setItem("username", data[0].U_username);
                localStorage.setItem("password", data[0].U_Password);
                localStorage.setItem("Fname", data[0].U_fname);
                localStorage.setItem("Lname", data[0].U_Lname);
                localStorage.setItem("userId", data[0].U_Id);
                location.href = "index.html";

              }

              if(data[0].U_Type == 1){

                localStorage.setItem("o_username", data[0].U_username);
                localStorage.setItem("o_userId", data[0].U_Id);
                ons.notification.toast('Logging In...', {
                  timeout: 2500
                });
                setTimeout(pushowner, 3000);
                
              }
            });
          }


          function pushowner(){
            myNavigator.pushPage('templates/owner-landing/owner_caller.html');
          }
        </script>


        

      </ons-page>

