      <ons-page id="notifications">
        <ons-toolbar>
          <div class="left" >
            <ons-back-button>Back</ons-back-button>
          </div>
          <div class="center">
            Notifications
          </div>
        </ons-toolbar>





        <ons-pull-hook id="pull-hook">
        </ons-pull-hook>
        <ons-list-header style="background-color: transparent;">Recent Notifications</ons-list-header>
        <div id="ons-list"></div>

        <ons-list-item style="background-color: white" tappable modifier="chevron" onclick="myNavigator.pushPage('templates/visited.html')">
          <div class="left">
            <img class="list-item__thumbnail" src="img/sm.jpg">
          </div>
          <div class="center">
            <span class="list-item__title" id="title">Sm Olongapo</span>
            <span class="list-item__subtitle">4-C Apitong Ext Old Cabalan</span>
          </div>
          <div class="right" style="margin-top: 0">9:00AM</div>
        </ons-list-item>


      </ons-page>

