

<ons-page id="parkingPolicy">


  <ons-toolbar>
    <div class="center">
      Parking Policy
    </div>
    <div class="left" >
      <ons-back-button >Back</ons-back-button>
    </div>
  </ons-toolbar>

  <div class="background" style="background-color: white !important"></div>

  <ons-row style="padding:0.8em">
    <p style="font-size: 12px;">All Policies were Created by the Parking Space Owner/Manager and Must be Followed by the user</p>

    <ons-col width="100%" style="font-size: 12px;">
      <ons-list id="viewPolicies">

      </ons-list>
    </ons-col>
  </ons-row>










  <script type="text/javascript">
    function policy(){
      var pId = localStorage.getItem("getId");
    
      $.post("https://www.gcccsbsit.xyz/_gpark/_api/select/s_selectPolicy.php",{p_Id: pId}, function(data){
          var policies = " "; 
        for(var i =0 ;i <data.length; i++){
          console.log(data);
          var count = (i+1);
          policies += ' <ons-list-header>Policy '+count+'</ons-list-header>';
          policies += '<ons-list-item modifier="longdivider">'+data[i].po_Content+'</ons-list-item>';
        }

        document.getElementById('viewPolicies').innerHTML += policies;
      });
      
    }

   
        

    policy();

  </script>

</ons-page>




