

<ons-page id="parkingPolicy">


  <ons-toolbar>
    <div class="center">
      Parking Policy
    </div>
    <div class="left" >
      <ons-back-button >Back</ons-back-button>
    </div>
  </ons-toolbar>

  <div class="background" style="background-color: white !important"></div>

  <ons-row style="padding:0.8em">
    <p style="font-size: 12px;">All Policies were Created by the Parking Space Owner/Manager and Must be Followed by the user</p>

    <ons-col width="100%" style="font-size: 12px;">
      <ons-list id="viewPolicies">

      </ons-list>
    </ons-col>
  </ons-row>










</ons-page>




