      <ons-page id="editInfo">
        <style type="text/css">
          .text-input--material__label--active {
            color: #2979FF;
          }

          .text-input--material:focus {
            color: white;
          }
          .text-input.text-input--material{
            color: black !important;
          }
        </style>
        <ons-toolbar>
          <div class="left" >
            <ons-back-button >Back</ons-back-button>
          </div>
          <div class="center">
            Edit
          </div>



        </ons-toolbar>


        <div class="background" style="background-color: white"></div>

        <ons-row>
          <ons-col width="100%">
            <img src=""  style="height: auto;width: 100%;" id="profilepic1">
          </ons-col>
          <ons-col width="100%" style="margin-top: -5%; text-align: center;">
            <ons-button>Change Profile Pic</ons-button>
          </ons-col>
        </ons-row>

        <ons-row style="text-align: center; padding-top: 2%; padding-left: 0.8em; padding-right:  0.8em">
          <ons-col width="100%" style="padding: 5%">
            <ons-input id="usernames" modifier="underbar" placeholder="Username" float style="width: 100%"></ons-input>
          </ons-col>
          <ons-col width="50%" style="padding: 5%">
            <ons-input id="firstname" modifier="underbar" placeholder="First Name" float style="width: 100%"></ons-input>
          </ons-col>
          <ons-col width="50%" style="padding: 5%">
            <ons-input id="lastname" modifier="underbar" placeholder="Last Name" float style="width: 100%"></ons-input>
          </ons-col>
          <ons-col width="100%" style="padding: 5%">
            <ons-input id="addresses" modifier="underbar" placeholder="Address" float style="width: 100%"></ons-input>
          </ons-col>
          <ons-col width="100%" style="padding: 5%">
            <ons-input id="emails" modifier="underbar" placeholder="Email" float style="width: 100%"></ons-input>
          </ons-col>
          <ons-col width="100%" style="padding: 5%">
            <ons-input id="contact" modifier="underbar" placeholder="Contact" type="number" float style="width: 100%"></ons-input>
          </ons-col>
        </ons-row>

        <ons-row style="text-align: center;">
          <ons-col width="100%">
            <ons-button style=" border-radius: 20px; background-color:  #0F9D58" onclick="updateProfile()">Save Changes</ons-button>
          </ons-col>
        </ons-row>



        <script type="text/javascript">
          function get(){
            var id = localStorage.getItem("userId");

            $.post("https://www.gcccsbsit.xyz/_gpark/_api/select/s_loginUser.php",{id: id},function(data){
              var username = data[0].U_username;
              document.getElementById("firstname").value = data[0].U_fname;
              document.getElementById("lastname").value = data[0].U_Lname;
              document.getElementById("usernames").value = username;
              document.getElementById("contact").value = data[0].U_Contact;
              document.getElementById("addresses").value = data[0].U_Address;
              document.getElementById("emails").value = data[0].U_Email;
              var profile2 = "https://www.gcccsbsit.xyz/_gpark/upload/"+data[0].U_ProfilePic;
             $("#profilepic1").attr("src",profile2);
              
              console.log(data);

            });
          }

          function updateProfile(){
            var firstname = document.getElementById("firstname").value;
            var lastname = document.getElementById("lastname").value;
            var username = document.getElementById("usernames").value;
            var contact =  document.getElementById("contact").value;
            var address = document.getElementById("addresses").value;
            var email = document.getElementById("emails").value;
            var id = localStorage.getItem("userId");
            $.post("https://www.gcccsbsit.xyz/_gpark/_api/update/u_updateProfile.php",{firstname: firstname, lastname:lastname,newusername:username,contact:contact, address:address,email:email, id: id }, function(data){
              localStorage.setItem("username",username);
              ons.notification.toast('Profile Updated', { timeout: 2000 })
              get();
            });
          }
          get();
        </script>






      </ons-page>

