      <ons-page id="editInfo">
        <style type="text/css">
          .text-input--material__label--active {
            color: #2979FF;
          }

          .text-input--material:focus {
            color: white;
          }
          .text-input.text-input--material{
            color: black !important;
          }
        </style>
        <ons-toolbar>
          <div class="left" >
            <ons-back-button >Back</ons-back-button>
          </div>
          <div class="center">
            Edit
          </div>



        </ons-toolbar>


        <div class="background" style="background-color: white"></div>

        <ons-row>
          <ons-col width="100%" style="background-color: transparent; height: 250px; background-size: 100% 100%;background-repeat: no-repeat; background-image: url('img/idol.jpg');">

          </ons-col>
          <ons-col width="100%" style="margin-top: -5%; text-align: center;">
            <ons-button>Change Profile Pic</ons-button>
          </ons-col>
        </ons-row>

        <ons-row style="text-align: center; padding-top: 2%; padding-left: 0.8em; padding-right:  0.8em">
          <ons-col width="100%" style="padding: 5%">
            <ons-input id="username" modifier="underbar" placeholder="Username" float style="width: 100%"></ons-input>
          </ons-col>
          <ons-col width="50%" style="padding: 5%">
            <ons-input id="firstname" modifier="underbar" placeholder="First Name" float style="width: 100%"></ons-input>
          </ons-col>
          <ons-col width="50%" style="padding: 5%">
            <ons-input id="lastname" modifier="underbar" placeholder="Last Name" float style="width: 100%"></ons-input>
          </ons-col>
          <ons-col width="100%" style="padding: 5%">
            <ons-input id="address" modifier="underbar" placeholder="Address" float style="width: 100%"></ons-input>
          </ons-col>
          <ons-col width="100%" style="padding: 5%">
            <ons-input id="email" modifier="underbar" placeholder="Email" float style="width: 100%"></ons-input>
          </ons-col>
        </ons-row>

        <ons-row style="text-align: center;">
          <ons-col width="100%">
            <ons-button style=" border-radius: 20px; background-color:  #0F9D58">Save Changes</ons-button>
          </ons-col>
        </ons-row>






      </ons-page>

