      <ons-page id="login">
        <style type="text/css">
          .text-input--material__label--active {
            color: #2979FF;
          }

          .text-input--material:focus {
            color: white;
          }
          .text-input.text-input--material{
            color: white !important;
          }


        </style>

        <ons-toolbar modifier="noshadow" style="background-color: #454A58 !important">
          <div class="left" >
            <ons-back-button >Back</ons-back-button>
          </div>
          <div class="center">

          </div>
        </ons-toolbar>

        <div class="background" style="background-color: #454A58"></div>
        <ons-row style=" margin-top: 8%; color: white !important; text-align: center; padding: 2em">
          <ons-col width="100%">
            <i class="fa fa-lock" style="font-size: 20px; "></i>
          </ons-col>
          <ons-col width="100%">
            <p style="font-size: 15px;">Forgot Password?</p>
          </ons-col>
          <ons-col width="100%">
            <p>We just need your registered username to send you a reset password verification</p>
          </ons-col>

          <ons-col width="100%" style="margin-top: 10%;">
            <i class="fa fa-user" style="padding-right: 2%"></i> <ons-input placeholder="Registered Username" float id="usernameForgot"></ons-input>
          </ons-col>

          <ons-col width="100%" style="margin-top: 10%;">
            <ons-button style="padding-left: 50px; padding-right: 50px;" onclick="resetPass()">Reset Password</ons-button>
          </ons-col>

        </ons-row>

        <script type="text/javascript">




          function resetPass(){
            var username = document.getElementById("usernameForgot").value;

            if (username == "") {
              ons.notification.alert({title: "Field Required", message: "Insert Username"});
            }
            else{

              $.post("https://www.gcccsbsit.xyz/_gpark/_api/select/s_forgotPassword.php",{username: username}, function(data){
                if (data == '') {
                  ons.notification.alert("Username doesnt exist");
                }
                else{
                  ons.notification.toast('Loading...', {
                    timeout: 2000
                  });
                  var a = Math.floor((Math.random()*4000) + 1000); 
                  var number = data[0].U_Contact;
                  var name = data[0].U_username;
                  var message = "YOUR GPARK VERIFICATION CODE IS" +a;
                  $.getJSON("https://www.gcccsbsit.xyz/_gpark/sms.php?cnum="+number+"&mes="+message+"",function(data){
                    console.log(data);
                    myNavigator.pushPage('templates/forgotpassword/verification.html');
                    localStorage.setItem("verification_code", a);
                    localStorage.setItem("username_verify", name);
                  });
                }
              });
            }

          }





        </script>




      </ons-page>

