      <ons-page id="login">
        <style type="text/css">
          .text-input--material__label--active {
            color: #2979FF;
          }

          .text-input--material:focus {
            color: black;
          }
          .text-input.text-input--material{
            color: black !important;
          }

          svg{
            fill: white !important;
          }

          .hiddenDiv{
            display: none;
          }

          .showDiv{
            display: block;
          }


        </style>

        <ons-toolbar modifier="noshadow" style="background-color: #EFF0ED !important">
          <div class="left" >
            <ons-back-button >Back</ons-back-button>
          </div>
          <div class="center" >
          </div>
        </ons-toolbar>

        <div class="background" style="background-color:#F3F3F3"></div>


        <ons-row width="100%" style="text-align: center;  ">
          <ons-col width="100%" style=" background-color:#2979FF;padding-bottom: 5%; background-image: url(img/city-background.jpg); background-size: 100% 100%">
            <img src="img/blank_user.jpg" id="user-icon" style="height: 130px; width: 130px; border-radius: 100%; border: 3px  solid #2979FF">
          </ons-col>
        </ons-row>

        <ons-row style="text-align: center; padding-top: 0px; padding-left: 0.8em; padding-right:  0.8em">
          <ons-col width="100%" style="margin-top: 4%;">
            <ons-list-header style="background-color: #F3F3F3">Profile Picture</ons-list-header>
            <ons-list-item >
              <ons-button onclick="showModal()" id="showModal">Upload Profile Picture</ons-button>
            </ons-list-item>
          </ons-col>

          <ons-col width="100%">
            <ons-list-header style="background-color: #F3F3F3">Account Details</ons-list-header>
            <ons-list-item >
              <ons-col width="100%" style="padding: 3%">
                <i class="fa fa-user" style="margin-right: 3%; color: #2979FF"></i> 
                <ons-input id="newUsername" modifier="underbar" placeholder="Username" float style="width: 90%"></ons-input>
              </ons-col>
            </ons-list-item>

            <ons-list-item >
              <ons-col width="100%" style="padding: 3%">
                <i class="fa fa-lock" style="margin-right: 3%; color: #2979FF"></i> 
                <ons-input id="newPassword" modifier="underbar" placeholder="Password" type="password" float style="width: 90%"></ons-input>
              </ons-col>
            </ons-list-item>

            <ons-list-item>
              <ons-col width="100%" style="padding: 3%">
                <i class="fa fa-unlock" style="margin-right: 3%; color: #2979FF"></i>
                <ons-input id="rePassword" modifier="underbar" placeholder="Re Enter Password" type="password" float style="width: 90%"></ons-input>
              </ons-col>
            </ons-list-item>

            <ons-list-item>
              <ons-col width="100%" style="padding: 3%">
                <i class="fa fa-font" style="margin-right: 3%; color: #2979FF"></i>
                <ons-input id="newFname" modifier="underbar" placeholder="First Name" type="text" float style="width: 90%"></ons-input>
              </ons-col>
            </ons-list-item>

            <ons-list-item>
              <ons-col width="100%" style="padding: 3%">
                <i class="fa fa-font" style="margin-right: 3%; color: #2979FF"></i>
                <ons-input id="newLname" modifier="underbar" placeholder="Last Name" float  type="text" style="width: 90%"></ons-input>
              </ons-col>
            </ons-list-item>

            <ons-list-item>
              <ons-col width="100%" style="padding: 3%">
                <i class="fa fa-street-view" style="margin-right: 3%; color: #2979FF"></i>
                <ons-input id="newAddress" modifier="underbar" placeholder="Address" float style="width: 90%"></ons-input>
              </ons-col>
            </ons-list-item>

            <ons-list-item>
              <ons-col width="100%" style="padding: 3%">
               <i class="fa fa-id-badge" style="margin-right: 3%; color: #2979FF"></i> 
               <ons-input id="newContact" modifier="underbar" placeholder="Contact No" type="number" float style="width: 90%"></ons-input>
             </ons-col>
           </ons-list-item>

         </ons-col>

         <ons-col width="100%">
          <ons-button  style="width: 40%; border-radius: 20px;"  onclick="signup()">Sign Up</ons-button>
          <p style="font-size: 13px; ">By Signing up you agree to our <a href="#" style="text-decoration: underline; color: black">Terms and Conditions</a></p>
        </ons-col>

      </ons-row>





      <ons-modal direction="up">
        <ons-card style="text-align: center;">
          <ons-row>
            <ons-col width="100%">
              <ons-button onclick="$('#upload_image').click();showButtons()" id="upload_jem">Upload Image</ons-button> 
              <ons-button style="background-color:#DB4437" onclick="modal.hide();localStorage.setItem('profile_set', 0);" id="hideModal"><i class="fa fa-close"></i></ons-button>
              <input type="file" name="upload_image" id="upload_image" style="display: none">
            </ons-col>
            <ons-col width="100%" class="hiddenDiv" id="image_div">
              <div id="uploaded_image"></div>
              <div id="image_demo" style="width: 100%;"></div>

            </ons-col>

            <ons-col width="100%">
              <ons-button id="crop_image" class="hiddenDiv">Crop</ons-button>
            </ons-col>
          </ons-row>

        </ons-card>
      </ons-modal>


      <script type="text/javascript">
        localStorage.setItem("profile_set", 0);

        var profile_set = localStorage.getItem("profile_set");

        function viewPic(){
          var base64 = localStorage.getItem("pic64");
          $("#user-icon").attr("src",base64);
        }


        function showButtons(){
          $('#image_div').removeClass('hiddenDiv');
          $('#image_div').addClass('showDiv');
          $('#crop_image').removeClass('hiddenDiv');
          $('#crop_image').addClass('showDiv'); 
          $('#upload_jem').addClass('hiddenDiv'); 
          $('#hideModal').addClass('hiddenDiv');
        }


        function hideButtons(){
          $('#showModal').attr('disabled', 'disabled');

        }

        var modal = document.querySelector('ons-modal');

        function showModal(){

          modal.show();
        }


        $image_crop = $('#image_demo').croppie({
          enableExif: true,
          viewport: {
            width: 200,
            height: 200,
            type: 'circle'
          },
          boundary:{
            width:300,
            height: 300
          }
        });

        $("#upload_image").on('change', function(){
          var reader = new FileReader();
          reader.onload = function (event){
            $image_crop.croppie('bind', {
              url:event.target.result
            }).then(function(){
              console.log("A");
            });
          }

          reader['readAsDataURL'](this.files[0]);
        });

        $('#crop_image').click(function(event){
          $image_crop.croppie("result", {
            type:'base64',
            size:'viewport',
            quality: 1
          }).then(function(response){
            var name = Math.random().toString(36).substr(2, 5);


            $.post("https://www.gcccsbsit.xyz/_gpark/profile_upload.php",{base64: response, name: name},function(data){
              console.log("uploaded_image");
            });
            $image_crop.croppie('destroy');
            console.log(name);
            modal.hide();
            localStorage.setItem("picName", name);
            localStorage.setItem("pic64", response);
            hideButtons();
            viewPic();
          })
        });


        function signup() {






          var username = document.getElementById("newUsername").value;
          var password = document.getElementById("newPassword").value;
          var repassword = document.getElementById("rePassword").value;
          var fname = document.getElementById("newFname").value;
          var lname = document.getElementById("newLname").value;
          var address = document.getElementById("newAddress").value;

          var contact =  document.getElementById("newContact").value;

          if ((username == "") || (password == "") || (fname == "") || (lname == "") || (address == "")  ||  (contact == "")    ) {
            ons.notification.alert({title:"Required", message:"All Fields are Required"});
          }

          else if(password != repassword){
            ons.notification.alert({title:"Error", message:"Password doesnt Match"});
          }

          else{
            $.post("https://www.gcccsbsit.xyz/_gpark/_api/select/s_selectuser.php",{username: username},function(data){
              console.log(data)
              if (data.length > 0) {
                ons.notification.alert("Username Already Exist");

              }
              else{
                var profile = localStorage.getItem("picName");
                $.post("https://www.gcccsbsit.xyz/_gpark/_api/insert/i_newAccount.php",{username:username, password:password, fname:fname, lname:lname, address:address, email:"none", contact:contact, profile: profile+".jpg", type: 0},function(data){
                  console.log(data);
                  console.log("insert");
                  ons.notification.toast('Account Created!', {
                    timeout: 3000
                  });

                  $.post("https://www.gcccsbsit.xyz/_gpark/_api/select/s_forgotPassword.php",{username: username}, function(data){
                    var a = Math.floor((Math.random()*4000) + 1000); 
                    var number = contact;
                    var message = "YOUR GPARK VERIFICATION CODE IS " +a;
                    $.getJSON("https://www.gcccsbsit.xyz/_gpark/sms.php?cnum="+number+"&mes="+message+"",function(data){
                      localStorage.setItem("verification_code", a);
                      localStorage.setItem("usernumber", contact);
                    });  
                  });

                  myNavigator.pushPage('templates/signup/s_verify.html');




                });
              }

            });








          }
        }


      </script>






    </ons-page>
